<header id="header">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Start Logo / Text -->
					<a class="navbar-brand text-logo" href="#"><i class="icon-signout"></i>PiuPiu</a>
					<!-- End Logo / Text -->
				</div>
				<!-- Start Navigation -->
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav menu-right">
						<li class="active"><a href="#header">Home</a></li>
						<li><a href="#about">About Us</a></li>
						<li><a href="#skills">Skills</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#services">Services</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
				<!-- End Navigation  -->
			</div>
		</nav>
	</header>






	<div id="main-slider" class="carousel slide carousel-fade">
        <!-- Wrapper for slides -->
        <carousel>
			<!-- Start Slide 1  -->
            <slide class="item cover slide1 active">
				<img src="assets/images/notebook-bg.jpg">
                <div class="carousel-caption">
                    <h2>We design &amp; develop</h2>
					<h4><span class="rotate" style="display: inline; opacity: 0.61137;"> Impacting Identities 2</span></h4><!-- Rotate Text separated by the commas  -->
                </div>
            </slide>
			<!-- End Slide 1  -->
			<!-- Start Slide 2  -->
            <slide>
				<img src="assets/images/ipad-bg.jpg" >
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </slide>
			<!-- End Slide 2  -->
			<!-- Start Slide 3 -->
            <slide>
				<img src="assets/images/mac-bg.jpg">
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </slide>
			<!-- End Slide 3  -->
		</carousel>
		
		<!-- Start Black Background Overlay  -->
		<div class="overlay-bg"></div>
		<!-- End Background Overlay  -->
		
		<!-- Start Navigations  -->
		<a class="left carousel-control" href="#main-slider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="right carousel-control" href="#main-slider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		<!-- End Navigations  -->
    </div>


	